.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  min-height: 88px;
  margin: 0 auto;
}

.navUl {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -60px;
}

.profile {
  padding-right: 0;
  flex: 2 1 auto;
}

.constructor {
  padding-left: 0;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  outline: none;
  text-decoration: none;
  color: inherit;
  margin-right: -20px;
}

.link_active {
    color: #c2c1c1;
}